nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  a.navbar-brand(href='#')
    img(src='https://albatroz.lviv.ua/assets/images/logo-alb.png')

  button.navbar-toggler(type='button'
                        data-toggle='collapse'
                        data-target='#navbarColor01'
                        aria-controls='navbarColor01'
                        aria-expanded='false'
                        aria-label='Toggle navigation')
    span.navbar-toggler-icon

  #navbarColor01.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | Головна
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/hotel') Готель
      li.nav-item
        a.nav-link(href='/kolyby') Колиби
      li.nav-item
        a.nav-link(href='/altanki') Альтанки
      li.nav-item
        a.nav-link(href='/kafe') Кафе
      li.nav-item
        a.nav-link(href='/sauna') Сауна
      li.nav-item
        a.nav-link(href='/menu') Меню
      li.nav-item
        a.nav-link(href='/banket') Банкет
      li.nav-item
        a.nav-link(href='bankety') Володимир: 097-457-27-91
